[Unit]
Description=NeoArch Scheduled Update Service
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/opt/neoarch/Aurora/scheduled_update.py
User=%U
Environment=DISPLAY=:0
Environment=XAUTHORITY=/home/%U/.Xauthority

[Install]
WantedBy=multi-user.target
