# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://fdzeqeobabojnhqiokky.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_YkQx9d5kwC7r2ewA6ZI30g_hYHV5-FU

# For GitHub Pages deployment (e.g. /Neoarch)
NEXT_PUBLIC_BASE_PATH=

# For Vercel deployment (leave empty for root domain)
# NEXT_PUBLIC_BASE_PATH=
