# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://rlbwkihgijdlqvyeycjj.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_IlIXtZ8W3lnrkGli9TXVRA_XrrzIOPH

# For GitHub Pages deployment (e.g. /Neoarch)
NEXT_PUBLIC_BASE_PATH=

# For Vercel deployment (leave empty for root domain)
# NEXT_PUBLIC_BASE_PATH=
